@import url('https://fonts.googleapis.com/css2?family=Alice&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Dongle&family=Koulen&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
// Specific CSS for your home-page
$gray: #C4C2C1;
$navy: #1A292F;
$dark: #272727;
$white: #ffffff;
$yellow: #f6f342;
$purple: #9C28B1;

body {
  font-family: "Dongle", sans-serif;
  letter-spacing: 1px;
  background-color: $dark;
  margin:0;
  overflow-x: hidden;
}

h1 {
  font-size: 40px;
  color: $yellow;
  text-align: center;
  margin: 40px;
  text-shadow: 4px 5px 3px #342d00;
}
h2 {
  color: $purple;
  font-weight: 800;
  width: 100%;
  border-bottom: 1.5px solid #f4ff61;
  line-height: 0.1em;
  margin: 60px 0px 60px;
}

h2 span {
  color: #b03aff;
  background:#272727;
  padding:0 10px;
}

h2.text-head {
  text-shadow: 2px 3px 3px #000000;
}
h3 {
  margin-top: 80px;
  text-align: center;
  color: $yellow;
  font-weight: 800;
  font-size: 40px;
  text-shadow: 2px 3px 3px #fffbec;
}

h4 {
  display: flex;
  justify-content: center;
}

p {
  font-size: 40px;
}
div {
  margin: 0px 0px;
}

#list-link a {
  text-decoration: none;
  color:$yellow;
  font-size: 3vw;
  letter-spacing: 2px;
  font-weight: 800;
  position: relative;
  top: 15px;
  display: flex;
  justify-content: center;
  text-shadow: 1px 2px 2px rgb(60, 60, 60);
}

li {
  list-style: none;
  text-align: center;
  text-decoration: none;
  color:$yellow;
}

// a {
//   text-decoration: none;
//   color: $yellow;
// }

.list {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  justify-content: center;
}
// footer

.footer {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  padding: 10px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

footer ul {
  display: flex;
  gap: 40px;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 0px;
  padding-left: 0px;
}

footer ul a {
  text-decoration: none;
  color: #9600fa;
  // text-shadow: 1px 2px 2px rgb(255, 255, 255);

  &:hover {
    text-shadow: 1px 2px 2px rgb(255, 255, 255);
    transition: 300ms ease-in-out;
    color: #9600fa;
  }
}

.footer-text {
  font-size: 1.4rem;
  text-align: center;
  color: #9600fa;
}

//  responsive
@media screen and (max-width: 800px) {
  .col {
    display: flex;
    align-items: center;
    flex: 50%;
    max-width: 50%;
  }
  .list-img {
    width: 40vw;
  }
  #list-link a {
    font-size: 2.2rem;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col {
    display: flex;
    align-items: center;
    flex: 100%;
    max-width: 100%;
  }

  footer ul {
    font-size: inherit;
  }
  .list-cards {
    display: contents;
  }
  .list-img {
    width: 80vw;
  }
  #list-link a {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 300px) {
  .col {
    display: flex;
    align-items: center;
    flex: 100%;
    max-width: 100%;
  }
}
