// Specific CSS for your home-page
$gray: #EEEDEB;
$beige: #ffe7bd57;
$dark: #3C3633;
$white: #ffffff;
$yellow: #fbc64c;

body {
  background-color: $dark;
  margin:0;
overflow-x:hidden;
}

h1 {
  color: $yellow;
  text-align: center;
  margin: 40px;
}

h2 {
  margin: 40px;
  color: $yellow;
  font-weight: 800;
}

h3 {
  text-align: center;
  color: $yellow;
  font-weight: 800;
  font-size: 40px;
  text-shadow: 2px 3px 3px #fffbec;
}

h4 {
  display: flex;
  justify-content: center;
}

div {
  margin: 0px 0px;
}

#list-link a {
  text-decoration: none;
  color:#fff6d7;
  font-size: 1.3rem;
  letter-spacing: 2px;
  font-weight: 800;
  position: relative;
  top: 90px;
  display: flex;
  justify-content: center;
}

.row {
    padding: 0px 60px;
}

div .col {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

.col-6 {
  display: flex;
  justify-content: center;
  margin: 50px 0px;
}

li {
  list-style: none;
  text-align: center;
  text-decoration: none;
  color:#ffecc1;
  text-shadow: 1px 2px 2px #464646b8;
}

a {
  text-decoration: none;
  color: rgb(250, 163, 0);
}

.list {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  justify-content: center;
}
// footer

.footer{
  background:$yellow;
  padding:0px;
  font-family: 'Play', sans-serif;
  text-align:center;
  width: 100%;
}

.footer .row{
  width:100%;
  height: 25px;
  margin:1% 0%;
  color:rgb(255, 255, 255);
  font-size:0.8em;
}

.footer .row a {
  font-size: 15px;
  text-decoration:none;
  color:#ffe7c3;
  transition:0.5s;
}

.footer .row a:hover{
  color:#fecf89;
}

.footer .row ul{
  width:100%;
}

.footer .row ul li{
  display:inline-block;
  margin:10px 30px;
  }

.footer .row a i{
  font-size:2em;
  margin:0% 1%;
  }

@media (max-width:720px){
  .footer{
    text-align:left;
    padding:5%;
  }
  .footer .row ul li{
    display:block;
    margin:10px 50px;
    text-align:left;
  }
  .footer .row a i{
    margin:0% 3%;
  }
  }
  div .footer-text small{
    font-size: 13px;
    color:#ffe7c3;
    text-shadow: 1px 2px 2px #464646b8;
  }
// responsive
/* Screen larger than 600px? 2 column */
// @media (max-width: 600px) {
//   .list-card { grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); }
// }

// /* Screen larger than 900px? 3 columns */
// @media (max-width: 900px) {
//   .list-card { grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); }
// }
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .col {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col {
    flex: 100%;
    max-width: 100%;
  }
}
