.new-list-btn a {
  align-items: center;
  background-color: #fff9e0;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color:$yellow;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25rem;
  margin: 20px;
  min-height: 2.2rem;
  padding: 5px;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.new-list-btn a:hover,
.new-list-btn a:focus {
  border-color: rgb(255, 255, 255);
  box-shadow: rgba(217, 217, 217, 0.668) 2px 4px 5px;
  color: rgb(212, 132, 4);
  background-color: #fff9e09c;
}

.new-list-btn a:hover {
  transform: translateY(-1px);
}

.new-list-btn a:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
input {
  display: flex;
  justify-content: center;
}

#list-btn {
  margin-top: 90px;
}
