.form-label {
  color: white;
}
.form-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-container {
  width: 700px;
}

form {
  display: flex;
  flex-direction: column;
}
