.navbar-lewagon {
  justify-content: space-between;
  background-color: #f6f342;
  padding: 0px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

div.logo {
  display: flex;
  gap: 5px;
  font-size: 2rem;
  align-items: center;
  color: #ce85ff;
}

small {
  margin-top: 2px;
  #logo-text {
    margin-top: 5px;
  }
}

i.fa-solid.fa-trash-can {
  font-size: 18px;
  margin: 8px;
  color: #f6f342;
}

.container-fluid {
  padding: 0px 35px;
}

a.nav-link {
  font-size: 1.5rem;
  color: #ce85ff;
  text-shadow: 1px 2px 2px rgb(255, 255, 255);
  :hover {
    color: #6200a4;
    transition: 300ms ease-in-out;
  }
}
