.navbar-lewagon {
  justify-content: space-between;
  background: $yellow;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

i {
  font-size: 30px;
}

.container-fluid {
  padding: 0px 35px;
}

.nav-link {
  color: $white;
  :hover {
    color: rgb(134, 76, 0);
    text-shadow: 1px 2px 2px #464646b8;
    transition: 300ms ease-in-out;
  }
}
